.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: var(--blanco-sucio);
    font-family: 'Mallanna', sans-serif;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
  padding: 0.5rem;
    
}
.formulario__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--blanco-sucio);
    
}
.input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--blanco-sucio);
    

}
.input-container__send{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
   
  padding: 0.5rem;
}
.boton__send{
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    letter-spacing: 0.5rem;
    transition: 600ms;
    border: 0.1rem solid var(--blanco-sucio);
    color: var(--blanco-sucio);
    background-color: var(--verde-oscuro);
}
.boton__send:hover{
    transform: scale(1.1);
}